.PageFeedback {
    height: 100vh;
    background: #F2F2F2;
    .login {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        header {
            display: flex;
            height: 42.93vw;
            padding: 2vw 1.6vw;
            background: white;
            box-sizing: border-box;
            flex-direction: column;
            > .top {
                width: 100%;
                display: flex;
                height: 22.27vw;
                > .left {
                    padding: 2vw;
                    width: 22.27vw;
                    height: 22.27vw;
                    box-sizing: border-box;
                    > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 1vw;
                    }
                }
                > .right {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    color: #333333;
                    font-size: 4.27vw;
                    font-weight: bold;
                    margin-left: 0.53vw;
                    flex-direction: column;
                    justify-content: center;
                    .top {
                        font-size: 6.13vw;
                    }

                }
            }
            > .bot {
                flex: 1;
                width: 100%;
                color: #999999;
                font-size: 3.73vw;
                padding-left: 2vw;
            }
        }
        main {
            margin-top: 2.67vw;
            background: white;
            > .title {
                height: 10.4vw;
                padding: 0 4.72vw;
                font-weight: bolder;
                font-size: 4.27vw;
                line-height: 10.4vw;
                box-sizing: border-box;
                border-bottom: 1px solid #F2F2F2;
            }
            > .input {
                padding: 3.47vw 4vw;
                box-sizing: border-box;
                .textarea {
                    position: relative;
                    > span {
                        z-index: 1;
                        bottom: 0.4vw;
                        font-size: 1vw;
                        right: 1vw;
                        position: absolute;
                    }
                    > TextArea {
                        resize:none;
                        min-height: 20vw;
                        font-size: 3.73vw;
                        padding-bottom: 4vw;
                    }
                }
                > .imgList {
                    overflow: hidden;
                    > .imgItem {
                        float: left;
                        width: 29.33vw;
                        height: 29.33vw;
                        margin-top: 2vw;
                        overflow: hidden;
                        margin-right: 2vw;
                        position: relative;
                        border-radius: 1vw;
                        > .anticon-close-circle {
                            z-index: 1;
                            top: 0.56vw;
                            right: 0.56vw;
                            font-size: 4.27vw;
                            position: absolute;
                        }
                        > img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    > .imgItem:nth-child(3n) {
                        margin-right: 0vw;
                    }
                }
            }
            > .submit {
                display: flex;
                margin: 0 4vw;
                height: 14.93vw;
                align-items: center;
                box-sizing: border-box;
                justify-content: space-between;
                border-top: 1px solid #F2F2F2;
                > .choose {
                    height: 100%;
                    display: flex;
                    color: #999999;
                    font-size: 8.8vw;
                    > .item {
                        display: flex;
                        align-items: center;
                        > .text {
                            font-size: 3.2vw;
                            margin: 0 6.27vw 0 1.2vw;
                            &.right {
                                margin-right: 0;
                            }
                        }
                    }
                }
                > .record {
                    width: 11vw;
                    font-size: 2vw;
                }
            }
        }
        section {
            display: flex;
            min-height: 32vw;
            margin-top: 2.67vw;
            background: white;
            flex-direction: column;
            box-sizing: border-box;
            padding: 2.93vw 4.53vw 0 4vw;
            > .header {
                padding: 0;
                display: flex;
                height: 10.04vw;
                justify-content: space-between;
                > .left {
                    > img {
                        width: 10.04vw;
                        height: 10.04vw;
                        border-radius: 50%;
                    }
                    > span {
                        color: #999999;
                        margin-left: 2vw;
                        font-size: 3.73vw;
                    }
                }
                > .right {
                    color: #F76454;
                    font-size: 3.2vw;
                }
                > .right::before {
                    content: "";
                    width: 1.33vw;
                    height: 1.33vw;
                    border-radius: 50%;
                    margin-right: 1.6vw;
                    display: inline-block;
                    background: #F76454;
                    vertical-align: middle;
                }
            }
            > main {
                flex: 1;
                width: 74.27vw;
                font-size: 3.73vw;
                margin-left: 10.04vw;
            }
        }
        footer {
            background: white;
            margin-top: 2.67vw;
            > .noHis {
                text-align: center;
                line-height: 24vw;
            }
            > .title {
                height: 10.4vw;
                padding: 0 4.72vw;
                font-size: 4.27vw;
                font-weight: bolder;
                line-height: 10.4vw;
                box-sizing: border-box;
                border-bottom: 1px solid #F2F2F2;
            }
            > .item {
                border-bottom: 1px solid #F2F2F2;
                .header {
                    display: flex;
                    height: 14.27vw;
                    padding: 0 4vw;
                    align-items: center;
                    box-sizing: border-box;
                    img {
                        width: 10.4vw;
                        height: 10.4vw;
                        border-radius: 50%;
                    }
                    span {
                        color: #999999;
                        font-size: 3.47vw;
                        margin-left: 2.4vw;
                    }
                }
                .text {
                    font-size: 3.73vw;
                    color: #666666;
                    line-height: 1.8;
                    box-sizing: border-box;
                    padding: 0vw 9.33vw 0vw 16.4vw;
                    span {
                        color: #F76454;
                        margin-left: 2vw;
                    }
                }
                .img {
                    margin-top: 1.5vw;
                    padding-left: 16.53vw;
                    box-sizing: border-box;
                    img {
                        width: 20vw;
                        height: 20vw;
                        margin-right: 2.93vw;
                        margin-bottom: 1vw;
                    }
                }
            }
        }
    }
}